* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dddddd;
    font-size: 20px;
}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #dddddd;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
}

.navbar button {
    float: right;
    height: 50px;
    width: 100px;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    background-color: inherit;
    color: #262626;
}

.navbar button:hover {
    cursor: pointer;
    color: #F26241
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}


h1 {
    margin-top: 40px;
}

p {
    margin-top: 20px;
}


.img-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.img-list li {
    border: 5px solid transparent;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    position: relative;
}

.img-list img {
    max-width: 100%;
    vertical-align: middle;
}

.footer {
    background-color: #262626;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}




@media only screen and (max-width: 400px) {

    .container {
        width: 98%;
    }

    .project {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }

    .img-container {
        width: 95%;
        height: 250px;
    }

    .p-intro {
        padding: 0;
        width: 95%;
        text-align: center;
        margin-top: 10px;
    }

    #venmo {
        flex-direction: column-reverse;
    }

    .btn-exp {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .sec-title {
        font-size: 40px;
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}