* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dddddd;

}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #dddddd;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
}

.navbar button{
    float: right;
    height: 50px;
    width: 100px;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    background-color: inherit;
    color: #262626;
}

.navbar button:hover{
    cursor: pointer;
    color: #F26241
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}


.intro {
    height: 900px;
    border: 2px inset black;
    border-radius: 30px;
    width: 40%;
    color: #010B40;
    background-color: #dddddd;
    position: relative;
}

.intro h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.intro p{
    font-size: 20px;
}

#motto {
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    position: absolute;
    bottom: 0;
    text-align: center;   
}

.intro img {
    position: absolute;
    width: 60%;
    height: 70%;
    bottom: 0;
    left: -21px;
}

.sec-uiux {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 900px;
    width: 60%;
    border: 1px inset black;
    border-radius: 30px;
    background-color: #dddddd;
}

.footer {
    background-color: #262626;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.project {
    background-color: #dddddd;
    flex-basis: auto;
    width: calc(50% - 2px);
    height: 405px;
    justify-content: center;
    margin: 1px;
    border-radius: 30px;
    transition: 0.5s;
}

.project:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0px 5px 10px #262626;
}

.img-container {
    padding: 15px;
    border-radius: 30px;
    height: 60%;
}


.project p{
    padding-left: 10px;
    font-size: 18px;
}

.project h1{
    color: black;
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
}

.project h3{
    padding-left: 10px;
    font-weight: 500;
    color: rgb(255, 111, 0);
}


.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    border-radius: 30px;
}



.sec-title {
    padding-top: 20px;
    font-size: 40px;
    color: #010B40;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px #F26241;
}

.btn-exp {
    background-color: #5C6C76;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    color: white;
}

.btn-exp:hover {
    cursor: pointer;
    background-color: rgb(169, 223, 54);
    color: black;
}



@media only screen and (max-width: 400px){

    .container {
        width: 98%;
    }

    .project {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }

    .img-container {
        width: 95%;
        height: 250px;
    }

    .p-intro {
        padding: 0;
        width: 95%;
        text-align: center;
        margin-top: 10px;
    }

    #venmo {
        flex-direction: column-reverse;
    }

    .btn-exp {   
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .sec-title {
        font-size: 40px;
        width: 60%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}