<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Chen</title>

    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    <div class='navbar'>
        <div class="container">
            <a href="/"><span>Jack Chen</span></a>
            <a href="https://drive.google.com/file/d/11UIpG9aC7v2hlo9I9wS1BuvVm5ALbCr4/view?usp=sharing"><button>RESUME</button></a>
            <a href="/about"><button>ABOUT</button></a>
            <a href="/"><button>WORK</button></a>
        </div>
    </div>
    
    <div style="display: flex;">
        <div style="width: 50%; padding: 50px;">
            <h1>About Me</h1>
            <p>
                I'm an international student from Hangzhou, the capital city of Zhejiang province in China and the city to hold 
                next Asian Games in 2022. I come to the U.S. when I was 16 and spend 3 years @ Crespi Carmelite High School. I
                was in the varsity swimming team during that time and won couple medals including the CIF state champion. Cause I
                love California so much, I chose UC San Diego to spend the next 4 years as a college student. 
            </p>
            <p>
                My design philosophy is that all product for human should be human-centered. I'm a very picky user, I don't
                compromise to products that have bad user experience and I'm passionate about giving suggestions to improve
                user experience. I hope there is one day that every designer, engineer can make products that maximize the
                ease of use. 
            </p>
            <p>
                Outside UIUX design and data science, I also play some guitar. My favorite electric guitar song is Cannon in C and
                I'm practicing it (still a newbee lol). Recently, I picked up my hobby from kindergarden: drawing. I have to say
                thanks to Procreate, which makes it so easy to paint and my iPad is nolonger a notebook.
            </p>
        </div>
        <div style="width: 50%; text-align: center;">
            <img style="width: 80%; height: auto; margin-top: 50px;" src="image/bio.png" alt="">
        </div>
    </div>


    


    <div class="footer">
        <div class="container">
            <div style="display: flex; flex-direction: column; align-items: center; margin-top: 70px;">
                <a href="jic006@ucsd.edu"><img style="width: 100px;" src="image/icon-mail.png" alt=""></a> 
                <a style="margin-top: 0;" href="jic006@ucsd.edu">Email Me</a>
            </div>
            
        </div>
    </div>



</body>

</html>