<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack's Resume</title>

    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class='navbar'>
        <div class="container">
            <a href="/"><img style="width:90px; padding-top: 2px;" src="image/LOGO.png" alt=""></a>
            <a
                href="https://drive.google.com/file/d/11UIpG9aC7v2hlo9I9wS1BuvVm5ALbCr4/view?usp=sharing"><button>RESUME</button></a>
            <a href="/about"><button>ABOUT</button></a>
            <a href="/"><button>WORK</button></a>
        </div>
    </div>
    <div class="intro">
        <div class="container">
            <div style="text-align: center;">
                <p id='title_1'>UX DESIGN</p>
                <p id='title_2'>WEB DEV.</p>
                <p id='title_3'>DATA SCIENCE</p>
            </div>
        </div>
    </div>


    <div class='sec-uiux'>
        <p class="sec-title">FEATURED WORKS</p>
        <div style="display: flex;">
            <div style="width: 30%; padding-left: 50px; padding-right: 50px; display: flex; flex-direction: column; justify-content: center; border-right: 1px solid #509a80;">
                <p style="color: white; font-size: 40px; text-align: center;">
                    <span style="color: #509a80;">DATA-DRIVEN</span> design focus on real needs to bring conviniency for users.
                </p>
                <p style="color: white; font-size: 40px; text-align: center; margin-top: 50px;">
                    <span style="color: #509a80;">COGNITIVE SCIENCE</span> powered empathy brings good experience.
                </p>
            </div>


            <div>
                <div style="display: flex;">
                    <div class="project" id='venmo'>
                        <div class='img-container'>
                            <a href="/classmate">
                                <img src="image/classmate/cover.png" alt="This is an image">
                            </a>
                        </div>
                        <div class="p-intro">
                            <h1>ClassHouse</h1>
                        </div>
                    </div>

                    <div class="project">
                        <div class='img-container'>
                            <a href="/focus-co">
                                <img src="image/SLIDER.jpg" alt="This is an image">
                            </a>
                        </div>
                        <div class="p-intro">
                            <h1>Focus Co.</h1>
                        </div>
                    </div>

                </div>
                <div style="display: flex;">
                    <div class="project" id="venmo">
                        <div class='img-container'>
                            <a href="/venmo">
                                <img src="image/venmo/venmo_bg.png" alt="This is an image">
                            </a>
                        </div>
                        <div class="p-intro">
                            <h1>Redesign Venmo</h1>
                        </div>

                    </div>
                    <div class="project">
                        <div class='img-container'>
                            <a href="/mcdonald">
                                <img src="image/mc.png" alt="This is an image">
                            </a>
                        </div>
                        <div class="p-intro">
                            <h1>McDonald's Kiosk</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div style="display: flex; align-items: center; margin-top: 70px; margin-bottom: 70px;">
            <div style="text-align: left; width: 100%;">
                <p style="color: white; font-size: 20px; text-align: left;">
                    Designed & Made with <span style="color: orange;">passion</span> & <span
                        style="color: red;">love</span> by Jack Chen
                </p>
            </div>
            <div style="width: 100px">
                <a href="jic006@ucsd.edu"><img style="width: 100px; float: right; margin-bottom: 10px;"
                        src="image/icon-mail.png" alt=""></a>
            </div>
            <div style="width: 80px">
                <div id="in-container">
                    <a href="https://www.linkedin.com/in/jack-chen-39739b217/"><img id="linkedin" src="image/in.png"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>



</body>

</html>