<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class='navbar'>
        <div class="container">
            <a href="/"><span>Jack Chen</span></a>
            <button>RESUME</button>
            <button>ABOUT</button>
            <button>WORK</button>
        </div>
    </div>
    <div class="intro">
        <div>
            <h1>Jack Chen</h1>
        </div>
        <div>
            <p>UIUX Designer Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis enim provident recusandae vel
            velit? Impedit, ad consequatur labore ipsa a voluptates. Repellendus, eligendi error sed dolor accusamus
            dolore explicabo reprehenderit.</p>
        </div>
        
    </div>


    <div class='sec-uiux'>
        <div class="container">
            <p class="sec-title">UIUX</p>
            <div class="project">
                <div class='img-container'>
                    <a href="">
                        <img src="https://images.unsplash.com/photo-1615479865224-b07bb46a5f56?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80" alt="This is an image">
                    </a>
                </div>
                <div class="p-intro">
                    <h1>Focus Co.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda obcaecati ducimus, aperiam enim dicta minima quibusdam culpa, saepe quam neque quis praesentium, reprehenderit consequatur! Delectus ad facere itaque aperiam ea?</p>
                    <button class="btn-exp">EXPLORE</button>
                </div>    
            </div>
            <div class="project" id="venmo">
                <div class="p-intro">
                    <h1>Redesign Venmo</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda obcaecati ducimus, aperiam enim dicta minima quibusdam culpa, saepe quam neque quis praesentium, reprehenderit consequatur! Delectus ad facere itaque aperiam ea?</p>
                    <a href="/venmo"><button class="btn-exp">EXPLORE</button></a>
                </div>    
                <div class='img-container'>
                    <a href="/venmo">
                        <img src="image/venmo/venmo.jpg" alt="This is an image">
                    </a>
                </div>
            </div>
            <div class="project">
                <div class='img-container'>
                    <a href="">
                        <img src="https://images.unsplash.com/photo-1615479865224-b07bb46a5f56?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80" alt="This is an image">
                    </a>
                </div>
                <div class="p-intro">
                    <h1>McDonald's Kiosk</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda obcaecati ducimus, aperiam enim dicta minima quibusdam culpa, saepe quam neque quis praesentium, reprehenderit consequatur! Delectus ad facere itaque aperiam ea?</p>
                    <button class="btn-exp">EXPLORE</button>
                </div>    
            </div>
        </div>
    </div>

    <div class='sec-web'>
        <div class="container">
            <p class="sec-title">WEB Development</p>
        </div>
    </div>

</body>

</html>